* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sour sans pro", sans-serif;
}

img {
  max-width: 80px;
  height: 80px;
  width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  cursor: pointer;
}

p {
  color: black;
}
#phone {
  /* background-color: #fff; */
  /* background-color: #fff; */
  background-image: url(https://images.unsplash.com/photo-1516610540415-d1b25463c7f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: initial;
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
}

.screen {
  /* background-color: white; */
  background-image: url(https://images.unsplash.com/photo-1619551734325-81aaf323686c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YnJhbmQlMjBsb2dvfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-size: cover;

  margin: 0 auto;
  width: 300px;
  height: 550px;
  border: 10px solid rgb(11, 10, 10);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alarm {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alarm img {
  background: transparent;
}

p {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
}

.alrm2 {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 40px;
  height: 25px;
  border: 2px solid blue;
  border-radius: 15px;
  background-color: rgb(34, 32, 32);
}
/* oclok */

.clock {
  width: 100%;
  border-radius: 12px;
  font-size: 54px;
  height: 100%;
  color: rgb(243, 10, 10);
  padding-top: 165px;
  /* background: rgb(79, 104, 146); */
}

/* timer */

.watch {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: rgb(159, 124, 234);
  padding-top: 200px;
}

.controls button {
  background-color: #222242;
  padding: 10px 15px;
  border: 1px solid #a9a9aa;
  border-radius: 15px;
  color: #fff;
  outline: 0;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: red;
}

.timer {
  font-size: 48px;
  font-weight: 300;
}

.sercl {
  transform: translateY(70px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(48, 61, 159);
  border: 1px solid black;
}
